.js-rock-button,
.js-paper-button,
.js-scissors-button{
  background-color: rgb(25, 25, 25);
  border: 2px solid white;
  width: 80px;
  height: 80px;
  font-size: 26px;
  
  
  border-radius: 50px;
  cursor: pointer;
}

.js-reset-button{
  padding: 10px;
  cursor: pointer;
}